<!doctype html> 

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>REDOSE {{ params.JOBNAME }} report</title>
        <meta name="description" content="Final report of REDOSE workflow analysis">
        <meta name="author" content="Chloe Cerutti">
        <meta name="pdfkit-orientation" content="Landscape"/>
        {% for c in css %}
        <style>{{ c }}</style>
        {% endfor %}
    </head>

    </head> 
    
    <body>

        <div id="content-wrapper">

                <div class="container-fluid">

                  <div class="breadcrumb"><h1 class="breadcrumb-item active">{{ title }}</h1></div>
                  
                  <div class="card mb-3">
                  
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Job informations
                    </div>    
                  
                  <div class="card-body">
                
                    <div class="part_left"> 

                        <dl id="informations">
                            <dt>Job name</dt>
                            <dd>{{ params.JOBNAME }}</dd>

                            <dt>Start date</dt>
                            <dd>{{ params.START }}</dd>

                            <dt>End date</dt>
                            <dd>{{ params.END }}</dd>

                            <dt>Job maximum number of simultaneous jobs</dt>
                            <dd>{{ params.NBJOBS }}</dd>                            

                            <dt>Job maximum amount of RAM</dt>
                            <dd>{{ params.MAXRAM }}</dd>            
                            
                            <dt>Core sequence size (for simulated dataset)</dt>
                            <dd>{{ params.SIM_S1 }}</dd>   

                            <dt>Barcode sequence size (for simulated dataset)</dt>
                            <dd>{{ params.SIM_S2 }}</dd>   

                            <dt>Number of simulated core sequences (for simulated dataset)</dt>
                            <dd>{{ params.SIM_S3 }}</dd>

                            <dt>Read size (for simulated dataset)</dt>
                            <dd>{{ params.SIM_R1 }}</dd>   

                            <dt>Number of amplicon per input sequence (for simulated dataset)</dt>
                            <dd>{{ params.SIM_R2 }}</dd>   

                            <dt>Percentage of core genome sequences to mutate (for simulated dataset)</dt>
                            <dd>{{ params.SIM_M1 }}</dd>   

                            <dt>Maximum rate of single core genome mutations (for simulated dataset)</dt>
                            <dd>{{ params.SIM_M2 }}</dd>   

                            <dt>Mutation over indel ratio for a single mutation event (for simulated dataset)</dt>
                            <dd>{{ params.SIM_M3}}</dd>   

                            <dt>Similarity threshold used to identify barcode and core sequences</dt>
                            <dd>{{ params.RET_TH }}</dd>         

                            <dt>Minimum space between two kept sequences</dt>
                            <dd>{{ params.RET_SS }}</dd>  

                            <dt>Computing time</dt>
                            <dd>{{ params.DURATION.days }}d {{ params.DURATION.hours }}h:{{ params.DURATION.min }}m:{{ params.DURATION.sec }}s</dd>

                        </dl>

                    </div> 

                    <div class="part_right">
                        <div  class="card mb-2">
                            <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Workflow scheme
                            </div>
                                <div class="card-body">
                                <figure>
                                    <img class="img-fluid rounded mx-auto d-block" src="data:image/gif;base64,{{ workflow_plot  | replace('b\'', '') | replace('\'', '') }}" alt="Workflow scheme">
                                    <!-- <figcaption>Workflow scheme</figcaption> -->
                                </figure>
                            </div>
                        </div>


                        <div class="contact">

                                <aside>
                                        <address id="from">
                                            BLADE : Bacterial Adaptation, Diversity and Egineering, équipe EAD4 <br>
                                            135 Avenue de Rangueil <br>
                                            31400 Toulouse
                                            
                                        </address>
                                
                                        <address id="to">
                                            Developped by : <br>
                                            <ul> 
                                                <li>  M1 tutored project : Chloé Cerutti, Geoffrey Dintilhac, Marion Perrier</li>
                                                <li>  M1 summer internship : Chloé Cerutti</li>
                                            </ul>
                                            <u>email:</u> <a href="mailto:cer.chloe@gmail.com">cer.chloe@gmail.com</a>
                                        </address>
                                </aside>
                        </div>

                        <contact>
                    </div>
                  </div>
                  
                  </div>
                
                  <!-- <div class="card mb-2">
                        <div class="card-header">
                          <i class="fas fa-table"></i>
                          Workflow scheme
                        </div>
                        <div class="card-body"> 
                            <img class="img-fluid rounded mx-auto d-block" src="static/data/plots/workflow_DAG.png" alt="Workflow scheme">
                        </div>
                  </div>        -->

                  <div class="card mb-3">
                        <div class="card-header">
                          <i class="fas fa-table"></i>
                          Results of analysis
                        </div>
                        <div class="card-body"> 

                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Plot of sequence bases conservation
                                </div>
                                <div class="card-body">
                                    <figure> 
                                        <!-- <img src="static/data/plots/seq_conservation_plot.png" class="halfimg img-fluid rounded float-left" alt="Position similirity"> -->
                                        <img src="data:image/gif;base64,{{ simil_plot | replace('b\'', '') | replace('\'', '')}}" class="halfimg img-fluid rounded mx-auto d-block" alt="Position similarity">
                                    </figure>        
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Plot of sequence weblogo
                                </div>
                                <div class="card-body"> 
                                    <figure>
                                        <!-- <img src="static/data/plots/weblogo_attB_attP.png" class="halfimg img-fluid rounded float-right" alt="Sequence weblogo"> -->
                                        <img src="data:image/gif;base64,{{ weblogo_plot  | replace('b\'', '') | replace('\'', '') }}" class="halfimg img-fluid rounded mx-auto d-block" alt="Sequence weblogo">
                                    </figure>
                                </div>
                            </div>

                        </div>
                  </div>   

                  <!-- DataTables Example -->
                  <div class="card mb-3">
                    <div class="card-header">
                      <i class="fas fa-table"></i>
                      Correspondance table</div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                            <div style="page-break-inside:avoid!important;page-break-after:auto!important;overflow:hidden;display:block!important;width:100%;">  
                            {% for colname in table.columns %}
                            <th class="nobreak">{{ colname.upper() | replace("_"," ") }}</th>
                            {% endfor %}
                            </div>
                            </tr>
                          </thead>
                          <tbody>
                            {% for index, row in table.iterrows() %}
                            <tr>
                                <div style="page-break-inside:avoid!important;page-break-after:auto!important;overflow:hidden;display:block!important;width:100%;">
                                {% for colname in table.columns %}
                                    <td style="page-break-inside:avoid" class="nobreak">{{ row[colname] | replace("A", '<span class="A nt nobreak">A</span>') | replace("T", '<span class="T nt nobreak">T</span>') | replace("G", '<span class="G nt nobreak">G</span>') | replace("C", '<span class="C nt nobreak">C</span>') | replace("-", '<span class="S nt nobreak">-</span>') | safe }}</td>
                                {% endfor %}
                                </div>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="card-footer small text-muted">Created at {{ today_date }}</div>
                  </div>

    </body>

</html>
