@media all {
    .page-break	{ display: none; margin-bottom: 100px; }

    .halfimg{
        max-width:65%;
    }
    
    .nt{
        color:white;
        font-family: sans-serif;
        font-weight: bold;
    }
    
    .A{
        background-color:red;
    }
    
    .T{
        background-color:green;
    }
    
    .G{
        background-color:orange;
    }
    
    .C{
        background-color:blue;
    }
    .S{
        background-color:grey;
    }
    
    .contact{
       width:100%;
       float:right;
    }
    
    aside {
        padding-left: .5rem;
        margin-left: .5rem;
        /* float: right; */
        box-shadow: inset 5px 0 5px -5px #29627e;
        font-style: italic;
        color: #29627e;
        position:absolute;
        bottom:1%;
        right:1%;
    }
    
    aside > p {
        margin: .5rem;
    }
    
    .part_left{
        width: 40%;
        float:left;
        height:100%;
    }
    
    .part_right{
        width: 60%;
        float:right;
    }
    
    table{
        font-size:.8rem!important;
    }
    

  }

@media print { 
    .page-break	{ display: block; page-break-before: always; }

    img{
        page-break-inside:avoid;
    }
    
    .nobreak {
        page-break-before:always;
        page-break-after:always;
        page-break-inside:avoid;
    }
    
    tr > div{
        page-break-inside:avoid !important; 
        page-break-after:auto !important; 
        overflow: hidden; 
        display:block !important; 
        width:100%;
    }
    
    table{
        font-size:.5rem!important;
        page-break-inside:auto!important;
    }
    
    
    thead { display: table-header-group!important; }
    thead th { height: 1.1cm!important; }
    tfoot { display: table-row-group!important; }
    tr { 
    page-break-inside: avoid !important;
    page-break-after:auto!important;
    }
    td { 
    page-break-inside: avoid !important;
    page-break-after:auto!important;
    }
  
    table, tr, td, th, tbody, thead, tfoot, tr, th {
      page-break-inside: avoid !important;
    } 
}



